BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ENGINEER_CHAT_ID=YOUR_ENGINEER_CHAT_ID
MANAGER_CHAT_ID=YOUR_MANAGER_CHAT_ID
JAMSHID_CHAT_ID=JAMSHID_TELEGRAM_ID
MANSUR_CHAT_ID=MANSUR_TELEGRAM_ID
WEB_APP_URL=https://agnks-nazorat.onrender.com
